body {
  font-family: "Comfortaa", cursive;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  color: dimgray;
}
.orange-highlight {
  color: orange;
}

.name-highlight {
  color: palevioletred;
  font-weight: bolder;
}

.link-style {
  background-image: linear-gradient(90deg, deeppink, mediumvioletred);
  text-decoration: none;
  padding: 7px 20px;
  border: 10px;
  color: white;
  border-radius: 10px;
}

.half-width {
  width: 35%;
  float: left;
  margin-left: 5%;
}
.half-width img {
  width: 100%;
  padding-left: 5%;
}

.headerbg {
  background-image: url("header-bg.png");
}

section {
  height: 950px;
}

.biography {
  background-image: url("biography-bg.png");
}

.latest-work img {
  width: 100%;
  padding: 1%;
}
.works {
  width: 30%;
  float: left;
  padding: 1.5%;
}

.h1pad {
  text-align: center;
  padding-top: 50px;
}
#foundercolor {
  color: dimgray;
}

.boxstyle {
}
